## Pandas Additional Assignment

#### Get Data from the following link: http://files.grouplens.org/datasets /movielens/ml-20m.zip

#### We will be using the following files for this exercise: 
ratings.csv : userId,movieId,rating, timestamp 

tags.csv : userId,movieId, tag, timestamp 

movies.csv : movieId, title, genres

#### 1. Read the dataset using pandas.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv("C:\\Users\\shesh\\DataScience\\PANDAS_2\\Assignments\\ml-20m\\ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [3]:
tags = pd.read_csv("C:\\Users\\shesh\\DataScience\\PANDAS_2\\Assignments\\ml-20m\\tags.csv")
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [4]:
movies = pd.read_csv("C:\\Users\\shesh\\DataScience\\PANDAS_2\\Assignments\\ml-20m\\movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### 2. Extract the first row from tags and print its type.

In [5]:
tags.loc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [6]:
tags.iloc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

#### 3. Extract row 0, 11, 2000 from tags DataFrame.

In [7]:
tags.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

#### 4. Print index, columns of the DataFrame.

In [8]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [9]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [10]:
tags.columns.view

In [11]:
tags.columns.values

array(['userId', 'movieId', 'tag', 'timestamp'], dtype=object)

#### 5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [12]:
ratings.rating.count()

20000263

In [13]:
ratings.rating.mean()

3.5255285642993797

In [14]:
ratings.rating.std()

1.051988919275684

In [15]:
ratings.rating.min()

0.5

In [16]:
ratings.rating.median()

3.5

In [17]:
ratings.rating.max()

5.0

In [18]:
ratings.rating.quantile(0.5)

3.5

In [19]:
ratings.rating.quantile(0.25)

3.0

In [20]:
ratings.rating.quantile(0.75)

4.0

In [21]:
ratings.rating.describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

#### 6. Filter out ratings with rating > 5

In [22]:
ratings[ratings.rating > 5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

#### 7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [23]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [24]:
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [25]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

#### 8. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [26]:
m = movies.groupby('genres')
movies[movies['genres'] == 'Animation']

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

In [27]:
r = movies['genres']
movies[r.isin(['Animation'])]

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

In [28]:
r = movies['genres']
r.str.contains('Animation')
movies[r.str.contains('Animation')]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
310,313,"Swan Princess, The (1994)",Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
547,551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
588,594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
589,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
590,596,Pinocchio (1940),Animation|Children|Fantasy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
610,616,"Aristocats, The (1970)",Animation|Children
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
732,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
770,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1003,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
1004,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1005,1024,"Three Caballeros, The (1945)",Animation|Children|Musical
1006,1025,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1010,1029,Dumbo (1941),Animation|Children|Drama|Musical
...,...,...,...
27007,129830,Animals United (2011),Animation|Children|Comedy
27008,129834,Tom and Jerry: The Lost Dragon (2014),Animation|Children|Comedy
27018,129859,Mardock Scramble: The Second Combustion (2011),Animation|Sci-Fi
27054,130034,Stand by Me Doraemon (2014),Animation|Children|Drama|Fantasy
27070,130075,Frozen Fever (2015),Adventure|Animation
27103,130394,The Mascot (1934),Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27136,130520,Home (2015),Animation|Children|Comedy|Fantasy|Sci-Fi
27137,130522,The Brave Little Toaster Goes to Mars (1998),Animation|Children
27155,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
27205,131058,Santa's Apprentice (2010),Animation|Children
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27215,131080,Cinderella III: A Twist in Time (2007),Animation|Children|Fantasy|Romance
27218,131086,The Little Polar Bear: Lars and the Little Tig...,Animation|Children
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27222,131094,Rudolph the Red-Nosed Reindeer: The Movie (1998),Animation|Children
27224,131098,Saving Santa (2013),Animation|Children|Comedy
27226,131102,Lucky Luke: The Ballad of the Daltons (1978),Animation|Children|Comedy|Western
27228,131106,Casper's Haunted Christmas (2000),Animation|Children
27235,131120,Superstar Goofy (1991),Animation|Children|Comedy
27240,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

#### 9. Find the average rating of movies.

In [29]:
ratings.rating.mean()

3.5255285642993797

#### 10. Perform an inner join of movies and tags based on movieId.

In [30]:
mt = pd.merge(movies, tags, how='inner', on='movieId')

In [31]:
mt.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

#### 11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [32]:
mr = pd.merge(movies, ratings, how='inner', on='movieId')

In [33]:
g = mr['genres']
m = mr[g.str.contains('Comedy')]
m.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [34]:
m[m.rating > 4]

,movieId,title,genres,userId,rating,timestamp
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,34,5.0,846509445
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,39,5.0,859325696
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.0,1144058408
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,59,4.5,1380400521
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82,5.0,1317331523
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,84,5.0,832543433
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,93,5.0,835037871
39,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,124,5.0,1134475984
47,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,136,5.0,1415635425
53,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,147,4.5,1161488994
54,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,149,5.0,848335821
56,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,156,5.0,1037739266
57,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,159,5.0,850758450
58,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,160,5.0,833408641
60,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,168,4.5,1266345888
62,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,172,5.0,830279745
66,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,189,5.0,1297044720
68,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,202,5.0,831857400
69,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,204,5.0,1353730913
78,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,233,5.0,858565312
80,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,237,4.5,1362287920
82,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,239,5.0,1245047671
85,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,259,5.0,847281123
98,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,294,4.5,1288479811
100,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,296,5.0,833870806
103,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,305,5.0,1095546760
...,...,...,...,...,...,...
19999629,129354,Focus (2015),Comedy|Crime|Drama|Romance,21210,4.5,1426671332
19999642,129354,Focus (2015),Comedy|Crime|Drama|Romance,51995,5.0,1425664317
19999648,129354,Focus (2015),Comedy|Crime|Drama|Romance,81396,4.5,1425894209
19999650,129354,Focus (2015),Comedy|Crime|Drama|Romance,98886,5.0,1425999861
19999653,129354,Focus (2015),Comedy|Crime|Drama|Romance,130746,5.0,1427667496
19999654,129354,Focus (2015),Comedy|Crime|Drama|Romance,133047,5.0,1426026346
19999665,129370,"SpongeBob Movie: Sponge Out of Water, The (2015)",Adventure|Animation|Children|Comedy,79570,4.5,1427651953
19999683,129401,Kevin Smith: Sold Out - A Threevening with Kev...,Comedy|Documentary,74142,5.0,1425516517
19999704,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,17308,5.0,1426180427
19999708,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,36725,4.5,1425889164
19999714,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,94583,5.0,1425832655
19999715,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,95692,5.0,1426912943
19999719,129428,The Second Best Exotic Marigold Hotel (2015),Comedy|Drama,137055,5.0,1426126053
19999731,129451,Ingenious (2009),Comedy|Drama|Romance,51558,4.5,1425259558
19999744,129514,George Carlin: It's Bad for Ya! (2008),Comedy,59417,5.0,1425800432
19999745,129514,George Carlin: It's Bad for Ya! (2008),Comedy,61923,4.5,1425682929
19999746,129514,George Carlin: It's Bad for Ya! (2008),Comedy,69470,4.5,1425418010
19999747,129514,George Carlin: It's Bad for Ya! (2008),Comedy,85554,5.0,1426064725
19999750,129516,Poison (1951),Comedy,52697,5.0,1425418445
19999751,129518,Forgive Me (2006),Comedy,52697,4.5,1425418697
19999753,129520,Papa (2005),Comedy|Drama,115147,4.5,1425419345
19999756,129526,The Color of Milk (2004),Comedy|Drama,52697,5.0,1425421180
19999800,129719,That's Life (1998),Comedy,13965,4.5,1425815628
19999816,129773,Soulless (2012),Comedy|Drama,98886,4.5,1425999894
19999866,129905,The Floating Castle (2012),Comedy|Drama,134701,5.0,1426268235
19999995,130347,Bill Hicks: Sane Man (1989),Comedy,122319,5.0,1426542491
20000157,130970,George Carlin: Life Is Worth Losing (2005),Comedy,69470,4.5,1427401153
20000158,130970,George Carlin: Life Is Worth Losing (2005),Comedy,86211,5.0,1427490566
20000162,130978,Love and Pigeons (1985),Comedy|Romance,26497,5.0,1427532559
20000182,131027,But Forever in My Mind (1999),Comedy|Drama,67380,4.5,1427612224

#### 12. Split 'genres' into multiple columns.

In [35]:
movies.genres.str.split('|', expand=True)

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
5,Action,Crime,Thriller,None,None,None,None,None,None,None
6,Comedy,Romance,None,None,None,None,None,None,None,None
7,Adventure,Children,None,None,None,None,None,None,None,None
8,Action,None,None,None,None,None,None,None,None,None
9,Action,Adventure,Thriller,None,None,None,None,None,None,None
10,Comedy,Drama,Romance,None,None,None,None,None,None,None
11,Comedy,Horror,None,None,None,None,None,None,None,None
12,Adventure,Animation,Children,None,None,None,None,None,None,None
13,Drama,None,None,None,None,None,None,None,None,None
14,Action,Adventure,Romance,None,None,None,None,None,None,None
15,Crime,Drama,None,None,None,None,None,None,None,None
16,Drama,Romance,None,None,None,None,None,None,None,None
17,Comedy,None,None,None,None,None,None,None,None,None
18,Comedy,None,None,None,None,None,None,None,None,None
19,Action,Comedy,Crime,Drama,Thriller,None,None,None,None,None
20,Comedy,Crime,Thriller,None,None,None,None,None,None,None
21,Crime,Drama,Horror,Mystery,Thriller,None,None,None,None,None
22,Action,Crime,Thriller,None,None,None,None,None,None,None
23,Drama,Sci-Fi,None,None,None,None,None,None,None,None
24,Drama,Romance,None,None,None,None,None,None,None,None
25,Drama,None,None,None,None,None,None,None,None,None
26,Children,Drama,None,None,None,None,None,None,None,None
27,Drama,Romance,None,None,None,None,None,None,None,None
28,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,None,None,None,None
29,Crime,Drama,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27248,Animation,Comedy,None,None,None,None,None,None,None,None
27249,Comedy,Romance,None,None,None,None,None,None,None,None
27250,Comedy,None,None,None,None,None,None,None,None,None
27251,Comedy,None,None,None,None,None,None,None,None,None
27252,Comedy,None,None,None,None,None,None,None,None,None
27253,Comedy,None,None,None,None,None,None,None,None,None
27254,Comedy,None,None,None,None,None,None,None,None,None
27255,Drama,None,None,None,None,None,None,None,None,None
27256,Drama,Romance,None,None,None,None,None,None,None,None
27257,War,None,None,None,None,None,None,None,None,None
27258,(no genres listed),None,None,None,None,None,None,None,None,None
27259,Drama,None,None,None,None,None,None,None,None,None
27260,Sci-Fi,None,None,None,None,None,None,None,None,None
27261,(no genres listed),None,None,None,None,None,None,None,None,None
27262,Drama,Romance,Thriller,None,None,None,None,None,None,None
27263,Drama,None,None,None,None,None,None,None,None,None
27264,Action,Horror,Thriller,None,None,None,None,None,None,None
27265,Comedy,Romance,None,None,None,None,None,None,None,None
27266,Comedy,None,None,None,None,None,None,None,None,None
27267,Comedy,Drama,None,None,None,None,None,None,None,None
27268,Comedy,Romance,None,None,None,None,None,None,None,None
27269,Animation,Comedy,None,None,None,None,None,None,None,None
27270,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
27271,Comedy,None,None,None,None,None,None,None,None,None
27272,Comedy,Horror,None,None,None,None,None,None,None,None
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

#### 13. Extract year from title e.g. (1995).

In [36]:
movies['Year'] = movies.title.str.extract('\s\((\d{4})\)$')
movies.head()

,movieId,title,genres,Year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

#### 14. Select rows based on timestamps later than 2015-02-01.

In [37]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [38]:
ratings['DateTime'] = pd.to_datetime(ratings.timestamp, unit='s')
ratings[ratings.DateTime > '2015-02-01']

          userId  movieId  rating   timestamp            DateTime
3534          31        1     3.0  1424733487 2015-02-23 23:18:07
3535          31      110     5.0  1424733473 2015-02-23 23:17:53
3536          31      260     5.0  1424733433 2015-02-23 23:17:13
3537          31      364     3.0  1424844807 2015-02-25 06:13:27
3538          31      527     0.5  1424733598 2015-02-23 23:19:58
3539          31      588     3.0  1424842869 2015-02-25 05:41:09
3540          31      594     2.5  1424844811 2015-02-25 06:13:31
3541          31      616     4.0  1424844817 2015-02-25 06:13:37
3542          31     1196     5.0  1424733435 2015-02-23 23:17:15
3543          31     1197     3.0  1424734492 2015-02-23 23:34:52
3544          31     1207     0.5  1424734478 2015-02-23 23:34:38
3545          31     1210     5.0  1424733439 2015-02-23 23:17:19
3546          31     1214     0.5  1424733574 2015-02-23 23:19:34
3547          31     1270     4.0  1424733467 2015-02-23 23:17:47
3548          31     2096     2.0  1424844830 2015-02-25 06:13:50
3549          31     2571     4.5  1424736532 2015-02-24 00:08:52
3550          31     2959     2.0  1424734458 2015-02-23 23:34:18
3551          31     3300     5.0  1424733940 2015-02-23 23:25:40
3552          31     3483     4.0  1424735625 2015-02-23 23:53:45
3553          31     3555     3.0  1424734355 2015-02-23 23:32:35
3554          31     3615     3.0  1424734207 2015-02-23 23:30:07
3555          31     3624     3.0  1424733917 2015-02-23 23:25:17
3556          31     3671     5.0  1424733819 2015-02-23 23:23:39
3557          31     3751     4.0  1424736599 2015-02-24 00:09:59
3558          31     3793     4.5  1424734262 2015-02-23 23:31:02
3559          31     3916     4.5  1424734610 2015-02-23 23:36:50
3560          31     4016     4.0  1424733990 2015-02-23 23:26:30
3561          31     4022     2.0  1424734536 2015-02-23 23:35:36
3562          31     4232     4.0  1424734082 2015-02-23 23:28:02
3563          31     4299     3.0  1424733987 2015-02-23 23:26:27
...          ...      ...     ...         ...                 ...
19983952  138380   106072     4.5  1425153394 2015-02-28 19:56:34
19983953  138380   106487     4.0  1425153305 2015-02-28 19:55:05
19983954  138380   106489     4.0  1425153324 2015-02-28 19:55:24
19983955  138380   106696     4.0  1425153364 2015-02-28 19:56:04
19983956  138380   106782     4.5  1425153588 2015-02-28 19:59:48
19983957  138380   106920     5.0  1425153307 2015-02-28 19:55:07
19983958  138380   108190     3.5  1425153468 2015-02-28 19:57:48
19983959  138380   109374     4.0  1425152897 2015-02-28 19:48:17
19983960  138380   109487     4.5  1425152894 2015-02-28 19:48:14
19983961  138380   110102     4.0  1425153224 2015-02-28 19:53:44
19983962  138380   110553     4.0  1425153540 2015-02-28 19:59:00
19983963  138380   111360     3.5  1425153526 2015-02-28 19:58:46
19983964  138380   111362     4.0  1425153019 2015-02-28 19:50:19
19983965  138380   111364     4.0  1425153496 2015-02-28 19:58:16
19983966  138380   111759     3.5  1425153226 2015-02-28 19:53:46
19983967  138380   112138     4.5  1425153501 2015-02-28 19:58:21
19983968  138380   112290     3.0  1425153597 2015-02-28 19:59:57
19983969  138380   112623     4.0  1425153434 2015-02-28 19:57:14
19983970  138380   112852     5.0  1425153302 2015-02-28 19:55:02
19983971  138380   114180     3.5  1425153569 2015-02-28 19:59:29
19983972  138380   115210     3.5  1425153106 2015-02-28 19:51:46
19983973  138380   115569     4.0  1425152902 2015-02-28 19:48:22
19983974  138380   115617     4.5  1425153625 2015-02-28 20:00:25
19990177  138414    72011     4.0  1424880202 2015-02-25 16:03:22
19990189  138414    79139     3.0  1425828597 2015-03-08 15:29:57
19990201  138414    83480     2.5  1425683309 2015-03-06 23:08:29
19990229  138414    95309     4.0  1424539555 2015-02-21 17:25:55
19990240  138414   100163     3.0  1425419383 2015-03-03 21:49:43
19990256  138414   112183     5.0  1424539388 2015-02-21 17:23:08
19990260  138414   117851     3.5  1424762730 2015-02-24 07:25:30

[176136 rows x 5 columns]

In [39]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [40]:
tags['DateTime'] = pd.to_datetime(tags.timestamp, unit='s')
tags[tags.DateTime > '2015-02-01']

,userId,movieId,tag,timestamp,DateTime
301,318,260,1970s,1424472169,2015-02-20 22:42:49
302,318,260,fantasy,1424472169,2015-02-20 22:42:49
303,318,260,sci-fi,1424472169,2015-02-20 22:42:49
304,318,115149,Action,1424534310,2015-02-21 15:58:30
305,318,115149,Revenge,1424534283,2015-02-21 15:58:03
306,318,115149,Willem Dafoe,1424534383,2015-02-21 15:59:43
324,342,318,masterplan,1423424898,2015-02-08 19:48:18
326,342,318,prison escape,1423424898,2015-02-08 19:48:18
327,342,318,redemption,1423424898,2015-02-08 19:48:18
589,342,108190,based on a book,1426978115,2015-03-21 22:48:35
590,342,108190,dystopia,1426978076,2015-03-21 22:47:56
1018,370,6975,breaking the fourth wall,1425242234,2015-03-01 20:37:14
1019,370,27592,violent,1425241975,2015-03-01 20:32:55
2203,969,97,class conflict,1426754226,2015-03-19 08:37:06
2204,969,288,mindfuck,1426752631,2015-03-19 08:10:31
2205,969,288,paranoid,1426752639,2015-03-19 08:10:39
2206,969,288,psychedelic,1426752634,2015-03-19 08:10:34
2207,969,1263,american propaganda,1426753995,2015-03-19 08:33:15
2208,969,3742,class conflict,1426753876,2015-03-19 08:31:16
2209,969,3742,Classic,1426754311,2015-03-19 08:38:31
2210,969,3742,Propaganda,1426754337,2015-03-19 08:38:57
2211,969,4848,Atmospheric,1426752575,2015-03-19 08:09:35
2212,969,4848,dark,1426752581,2015-03-19 08:09:41
2213,969,4848,Mindfuck,1426752569,2015-03-19 08:09:29
2214,969,6530,claustrophobic,1426753144,2015-03-19 08:19:04
2215,969,6530,mental illness,1426751285,2015-03-19 07:48:05
2216,969,6530,suicide,1426751289,2015-03-19 07:48:09
2217,969,8950,depressing,1426749117,2015-03-19 07:11:57
2218,969,8950,psychodrama,1426752695,2015-03-19 08:11:35
2219,969,8950,schizophrenia,1426752689,2015-03-19 08:11:29
...,...,...,...,...,...
461895,137227,120222,horribly animated,1422821079,2015-02-01 20:04:39
461896,137227,120222,nazi imagery,1422821051,2015-02-01 20:04:11
461897,137227,120222,racist,1422821047,2015-02-01 20:04:07
461898,137227,120222,racist stereotypes,1422821071,2015-02-01 20:04:31
462190,137249,296,influential,1423437040,2015-02-08 23:10:40
462191,137249,296,neo-noir,1423437040,2015-02-08 23:10:40
462192,137249,296,quentin tarantino,1423437040,2015-02-08 23:10:40
462195,137277,110052,"marcello mastroianni,",1422925214,2015-02-03 01:00:14
462979,137924,46855,Criterion,1427722627,2015-03-30 13:37:07
462980,137924,46855,French Resistance,1427722622,2015-03-30 13:37:02
462981,137924,46855,World War II,1427722614,2015-03-30 13:36:54
463004,138063,4355,Hockey,1424230535,2015-02-18 03:35:35
463005,138063,108160,Hockey,1424230501,2015-02-18 03:35:01
463504,138103,67894,finnish,1423255773,2015-02-06 20:49:33
463509,138103,69442,finnish,1423255750,2015-02-06 20:49:10
463544,138103,73501,finnish,1423255756,2015-02-06 20:49:16
463545,138103,74681,finnish,1423255760,2015-02-06 20:49:20
463573,138103,84553,finnish,1423255764,2015-02-06 20:49:24
464786,138301,52042,espionage,1426032479,2015-03-11 00:07:59
464787,138301,52042,resistance movement,1426032481,2015-03-11 00:08:01
464788,138301,52042,World War II,1426032485,2015-03-11 00:08:05
464958,138301,109487,ambitious,1423178287,2015-02-05 23:18:07
464959,138301,109487,atmosphere,1423178302,2015-02-05 23:18:22
464960,138301,109487,plot holes,1423178186,2015-02-05 23:16:26
464961,138301,109487,sci-fi,1423178227,2015-02-05 23:17:07
464962,138301,109487,science fiction,1423178255,2015-02-05 23:17:35
464963,138301,109487,Self-Indulgent,1423178219,2015-02-05 23:16:59
464964,138301,109487,space,1423178343,2015-02-05 23:19:03
464965,138301,109487,visually appealing,1423178319,2015-02-05 23:18:39
464966,138301,109487,wasted potential,1423178212,2015-02-05 23:16:52

#### 15. Sort the tags DataFrame based on timestamp.

In [41]:
tags.sort_values(by=['timestamp'])

,userId,movieId,tag,timestamp,DateTime
333932,100371,2788,monty python,1135429210,2005-12-24 13:00:10
333927,100371,1732,coen brothers,1135429236,2005-12-24 13:00:36
333924,100371,1206,stanley kubrick,1135429248,2005-12-24 13:00:48
333923,100371,1193,jack nicholson,1135429371,2005-12-24 13:02:51
333939,100371,5004,peter sellers,1135429399,2005-12-24 13:03:19
333922,100371,47,morgan freeman,1135429412,2005-12-24 13:03:32
333921,100371,47,brad pitt,1135429412,2005-12-24 13:03:32
333936,100371,4011,brad pitt,1135429431,2005-12-24 13:03:51
333937,100371,4011,guy ritchie,1135429431,2005-12-24 13:03:51
333920,100371,32,bruce willis,1135429442,2005-12-24 13:04:02
333933,100371,2858,kevin spacey,1135429466,2005-12-24 13:04:26
333931,100371,2329,fuckoff nazi,1135429508,2005-12-24 13:05:08
333930,100371,2329,edward norton,1135429508,2005-12-24 13:05:08
333944,100371,6016,brazil,1135429520,2005-12-24 13:05:20
15903,3797,110,overrated,1135589075,2005-12-26 09:24:35
256663,75141,4642,Terrible,1135688095,2005-12-27 12:54:55
15926,3797,8573,Nonlinear Surrealism,1135936223,2005-12-30 09:50:23
68928,16050,38886,twee,1136036612,2005-12-31 13:43:32
68924,16050,38886,eighties,1136036612,2005-12-31 13:43:32
68925,16050,38886,family,1136036612,2005-12-31 13:43:32
68926,16050,38886,new york,1136036612,2005-12-31 13:43:32
68927,16050,38886,overrated,1136036612,2005-12-31 13:43:32
68919,16050,7060,christian,1136039301,2005-12-31 14:28:21
68921,16050,7060,musical,1136039301,2005-12-31 14:28:21
68920,16050,7060,kitsch,1136039301,2005-12-31 14:28:21
68922,16050,7060,religious,1136039301,2005-12-31 14:28:21
68918,16050,6898,harsh,1136039368,2005-12-31 14:29:28
68916,16050,6898,british,1136039368,2005-12-31 14:29:28
68917,16050,6898,drugs,1136039368,2005-12-31 14:29:28
81444,20513,36529,truth,1136242623,2006-01-02 22:57:03
...,...,...,...,...,...
119997,28906,115149,violent,1427746031,2015-03-30 20:07:11
119991,28906,115149,lack of story,1427746053,2015-03-30 20:07:33
119993,28906,115149,over the top,1427746060,2015-03-30 20:07:40
119989,28906,115149,cheesy,1427746074,2015-03-30 20:07:54
405155,123297,128642,CLV,1427746337,2015-03-30 20:12:17
399877,123297,4211,CLV,1427746709,2015-03-30 20:18:29
400993,123297,6419,CLV,1427746864,2015-03-30 20:21:04
401017,123297,6481,CLV,1427747220,2015-03-30 20:27:00
405123,123297,118722,CLV,1427747321,2015-03-30 20:28:41
400106,123297,4573,CLV,1427747462,2015-03-30 20:31:02
150873,42640,115122,mockumentary,1427748778,2015-03-30 20:52:58
150871,42640,115122,comedy,1427748797,2015-03-30 20:53:17
150872,42640,115122,dark comedy,1427748808,2015-03-30 20:53:28
392905,122523,5004,USA,1427752289,2015-03-30 21:51:29
392904,122523,5004,party,1427752292,2015-03-30 21:51:32
290536,88044,106782,unsatisfying ending,1427753000,2015-03-30 22:03:20
290534,88044,106782,Orgies,1427753111,2015-03-30 22:05:11
290529,88044,106782,ENFP,1427753147,2015-03-30 22:05:47
290532,88044,106782,Left-Wing Propaganda,1427753266,2015-03-30 22:07:46
290533,88044,106782,Left-Wing Writers,1427753621,2015-03-30 22:13:41
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12

In [42]:
tags.sort_values('DateTime')

,userId,movieId,tag,timestamp,DateTime
333932,100371,2788,monty python,1135429210,2005-12-24 13:00:10
333927,100371,1732,coen brothers,1135429236,2005-12-24 13:00:36
333924,100371,1206,stanley kubrick,1135429248,2005-12-24 13:00:48
333923,100371,1193,jack nicholson,1135429371,2005-12-24 13:02:51
333939,100371,5004,peter sellers,1135429399,2005-12-24 13:03:19
333922,100371,47,morgan freeman,1135429412,2005-12-24 13:03:32
333921,100371,47,brad pitt,1135429412,2005-12-24 13:03:32
333936,100371,4011,brad pitt,1135429431,2005-12-24 13:03:51
333937,100371,4011,guy ritchie,1135429431,2005-12-24 13:03:51
333920,100371,32,bruce willis,1135429442,2005-12-24 13:04:02
333933,100371,2858,kevin spacey,1135429466,2005-12-24 13:04:26
333931,100371,2329,fuckoff nazi,1135429508,2005-12-24 13:05:08
333930,100371,2329,edward norton,1135429508,2005-12-24 13:05:08
333944,100371,6016,brazil,1135429520,2005-12-24 13:05:20
15903,3797,110,overrated,1135589075,2005-12-26 09:24:35
256663,75141,4642,Terrible,1135688095,2005-12-27 12:54:55
15926,3797,8573,Nonlinear Surrealism,1135936223,2005-12-30 09:50:23
68928,16050,38886,twee,1136036612,2005-12-31 13:43:32
68924,16050,38886,eighties,1136036612,2005-12-31 13:43:32
68925,16050,38886,family,1136036612,2005-12-31 13:43:32
68926,16050,38886,new york,1136036612,2005-12-31 13:43:32
68927,16050,38886,overrated,1136036612,2005-12-31 13:43:32
68919,16050,7060,christian,1136039301,2005-12-31 14:28:21
68921,16050,7060,musical,1136039301,2005-12-31 14:28:21
68920,16050,7060,kitsch,1136039301,2005-12-31 14:28:21
68922,16050,7060,religious,1136039301,2005-12-31 14:28:21
68918,16050,6898,harsh,1136039368,2005-12-31 14:29:28
68916,16050,6898,british,1136039368,2005-12-31 14:29:28
68917,16050,6898,drugs,1136039368,2005-12-31 14:29:28
81444,20513,36529,truth,1136242623,2006-01-02 22:57:03
...,...,...,...,...,...
119997,28906,115149,violent,1427746031,2015-03-30 20:07:11
119991,28906,115149,lack of story,1427746053,2015-03-30 20:07:33
119993,28906,115149,over the top,1427746060,2015-03-30 20:07:40
119989,28906,115149,cheesy,1427746074,2015-03-30 20:07:54
405155,123297,128642,CLV,1427746337,2015-03-30 20:12:17
399877,123297,4211,CLV,1427746709,2015-03-30 20:18:29
400993,123297,6419,CLV,1427746864,2015-03-30 20:21:04
401017,123297,6481,CLV,1427747220,2015-03-30 20:27:00
405123,123297,118722,CLV,1427747321,2015-03-30 20:28:41
400106,123297,4573,CLV,1427747462,2015-03-30 20:31:02
150873,42640,115122,mockumentary,1427748778,2015-03-30 20:52:58
150871,42640,115122,comedy,1427748797,2015-03-30 20:53:17
150872,42640,115122,dark comedy,1427748808,2015-03-30 20:53:28
392905,122523,5004,USA,1427752289,2015-03-30 21:51:29
392904,122523,5004,party,1427752292,2015-03-30 21:51:32
290536,88044,106782,unsatisfying ending,1427753000,2015-03-30 22:03:20
290534,88044,106782,Orgies,1427753111,2015-03-30 22:05:11
290529,88044,106782,ENFP,1427753147,2015-03-30 22:05:47
290532,88044,106782,Left-Wing Propaganda,1427753266,2015-03-30 22:07:46
290533,88044,106782,Left-Wing Writers,1427753621,2015-03-30 22:13:41
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12